<h2>Welcome to Pizza Shop</h2>

<div class="container">
  	<div class="row">
  		<% @products.each do |product| %>
  		<div class="col-md-4">
	  		<div>
	  			<a href="/product/<%= product.id %>"><%= product.title %></a>
	  		</div>
	  		<div>
	  			<img src="<%= product.path_to_image %>" class="img-thumbnail img-responsive" alt="<%= product.title %>">
	  		</div>
	  		<div>
	  			<%= product.description %>
	  		</div>
	  		<div>
	  			Size: <%= product.size %> cm
	  		</div>
	  		<div>
	  			Price: <%= product.price %> rub
	  		</div>
  		</div>
  		<% end %>
	</div>
</div>

<br />
<button class="btn btn-primary" onclick="something()">Click me!</button>
